.login-form {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 32px #eee;
  width: auto;
  padding: 24px;
  text-align: center;

  & > * + * {
    margin-top: 16px;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
  }

  @media (min-width: 768px) {
    width: 500px;
  }
}
